body{
	margin: 0px;
	padding: 0px;
	background-color:  #ecf2f9;#ebf0fa;
	font-family: sans-serif, Brush Script MT,Edwardian Script ITC ;
}

#mainblock{
	width: 98%;
	height: auto;
//	border: 1px solid black;
	padding: 0px;
	float: left;
	margin-top: 0px;
	//background-image: url("../images/waste.png");
}
#titlebox{
				float: left;
				width: 99.8%;
			    height: 130px;
				background-color: #383838;
				margin-top: 15px;
				box-shadow: 2px 3px 2px 2px grey;
}


#logo{

	float: left;
	border: 1px solid black;
	text-align: center;
	margin: 16px 550px 16px 550px;
	padding: 0px;
}

#navbar{

	display: none;
//	border: 1px solid black;
    width: 100%;
    height: 40px;
    float: left;
    background: linear-gradient(to left, #ecf2f9, #d9e6f2);
    margin-top: 0px;
}

#navbar ul{
	float: left;
	list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar ul li {float: left;}

#navbar ul li a{

    display: block;
    color:  black;
    text-align: center;
    padding: 10px 52px;
    text-decoration: none;
    margin-left: 0px;
    box-shadow: -2px 1px 2px -1px  #c6d9ec;
    font-size: 14px; 
    text-shadow: 1px 1px 1px grey;
}


#navbar ul li a:hover:not(.active) {background-color: #b3c6ff;
	font-size: 18px;
	color: white;
}

#navbar ul li a.active {background-color: black;}

#navbar ul li.right {float: right;}

#titlebar{

	width: 100%;
	height: 50px;
//	border: 1px solid black;
	float: left;
	margin-top: 25px;
	background-color: white;
}

#titlebar img{

	width: 90px;
	height: 90px;
	margin-left: 55px;
	margin-top: -15px;
	float: left;
}
#titlebar h1{
	float: left;
	margin-left: 30px;
	line-height: 10px;
}
#icon p{							
	color: #4d79ff;
	float: right;
	padding-right: 10px;
}
#icon img{

	width: 50px;
	height: 50px;
	float: right;
	padding: 15px;
	padding-right: 20px;
}


#mainblock1{

	width: 500px;
	heigth: 400px;
	float: left;
//	border: 1px solid black;
}


#referenceid{
	width: 75%;
	height: 280px;
	box-shadow: 2px 3px 2px 3px grey;
	float: left;
	margin-left: 190px;
	margin-top: 50px;
}
#referenceid h1{
	margin-top: 40px;
	margin-left: 0px;
	color: #383838;
//	font-size: 28px;
//	font-weight: normal;
    
}
#referenceid input{

	width: 600px;
	height: 43px;
	float: left;
	margin-left: 220px;
	border-radius: 8px;
	font-size: 28px;
	margin-top: -10px;
	color: #4d79ff;
	font-family:  Brush Script MT,Edwardian Script ITC ;
	box-shadow: 2px 3px 2px 3px blue;
	box-shadow: 2px 1px 2px 1px #99b3ff;
}
#referenceid img{
	width: 50px;
	height: 50px;
	float: left;
	margin-left: 130px;
	margin-top: 36px;
	margin-right: 20px;
}
#makerequest{

	width: 100px;
	height: 35px;
	color: #484848;
	margin-left: 450px;
	box-shadow: 2px 3px 2px 2px gray;
}
#submit {
margin-top: -30px;
margin-left: 580px;
color: #4d79ff;
}

#referenceid h2{
	margin-left: 20px;
	color: #383838;
	font-size: 16px;
	margin-left: 345px;
	margin-top: 60px;
}
#signin {
	width: 80px;
	height: 30px;
	float: left;
	margin-left: 570px;
	margin-top: -36px;
}

#link{

	width: 75%;
	height: 80px;
//	border: 1px solid green;
	float: left;
	box-shadow: 2px 3px 2px 3px grey;
	margin-left: 170px;
	margin-top: 10px;
}

.w3-animate-top{position:relative;animation:animatetop 0.8s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}

#makerequest button{

}

#footer{

	width: 1366px;
	height: 100px;
	background-color: #181818;
	border: 1px solid black;
	margin-top: 25px;
	color: #4d79ff;#BEBEBE;
	border: 1px solid black;	
	float: left;
}

#endline {

		width: 100%;
		height: 25px;
		margin-top: 70px;

}

#endline p{
	margin: 0;
	line-height: 25px;
	text-align: center;

}
#info{

	float: left;
	margin: 0px;
	font-size: 12px;
	margin-left: 50px; 
	margin-top: 20px;
}

#info p{
margin: 0px;
}

#contactus h4{
	margin-left: 100px; 
	float: left;
}